<div data-ng-controller="AboutController" class="">

    <!-- services -->
    <section class="about-us" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 about-info1 slideanim">
                    <img src="images/about-img.jpg" alt="about" class="img-responsive">
                </div>
                <div class="col-lg-6 about-info2 slideanim">
                    <div class="about-details">
                        <!--<h2>About Us</h2>-->
                        <p>
                            Rejuvsense Academy is an educational institution that facilitates learning environment for job seekers to attain their goals  especially in the areas of Banking Insurance,SSC ,UPSC through intensive training.We ensure integrity of teaching with eminent faculties and one of our major attraction is online platform,that offers students to develop their speed and accuracy for the actual online competition.We also provide study material,library etc...
                        </p>
                        <p>
                            RejuvSense Academy has been set up by academicians who are extremely passionate about education and believe in more than just teaching.
                            We are dedicated to improving the quality of education currently being imparted to students who are about to choose their future careers. We believe in mentorship, in facilitating our students in taking important career decisions and helping them make the most of opportunities that lie in front of them. We enable our students to achieve their career goals and realize their potential.


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- //services -->
    <!-- services-bottom -->
    <div class="services-bottom">
        <div class="container">
            <div class="agileits_services_bottom_grid">
                <h3>the great aim of <span>education</span> is not knowledge but action</h3>
                <p>
                    To provide unmatched excellent education that enriches lives and creates success for our students.
                </p>
            </div>

        </div>
    </div>
    <!-- //services-bottom -->
    <!-- //courses -->
    <!-- stats -->
    <div class="gallery-top">
        <div class="agileinfo_gallery_top">
            <h3><span>Education</span> is the most powerful weapon which you can use to change
                the world</h3>
        </div>

    </div>
    <!-- //stats -->
    <!-- stats -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->


    <!-- team -->
    <div class="team-1" id="team">
        <div class="container">
            <h3 class="title">Our  <span>Team</span></h3>
            <div class="team_gds">
                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t1.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>Vineesh Kurup</h4>
                    <p>Director</p>
                </div>

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t2.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>Sheeba</h4>
                    <p>Administrative officer</p>
                </div>
                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t3.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>Lyju</h4>
                    <p>Chief Academic Officer</p>
                </div>
                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t4.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>Rajasekhar</h4>
                    <p>Human Resourse</p>
                </div>

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t2.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>Gopalakrishnan</h4>
                    <p>Faculty</p>
                </div>

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t2.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>Ajith joshy</h4>
                    <p>Faculty</p>
                </div>
                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t3.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>Anjana</h4>
                    <p>Faculty</p>
                </div>
                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t4.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>RakeshNath</h4>
                    <p>Faculty</p>
                </div>
                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="images/t4.jpg"  alt=" ">
                        <div class="team_info">
                            <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                            <a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h4>Anandh Raj</h4>
                    <p>Faculty</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //team -->

</div>