    <!-- Page Title & Favicon -->
<div data-ng-controller="HomeController" >

    <!-- banner-bottom -->
    <div class="banner-bottom">
        <div class="container">
            <div class="col-md-6 w3ls_banner_bottom_left">
                <div class="w3ls_banner_bottom_left1">
                    <p>01</p>
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </div>
                <div class="w3ls_banner_bottom_right1">
                    <h2>the whole purpose of <span>education</span> is to turn mirrors into windows</h2>
                    <p>
                        To be the best education service providing organization known for setting benchmarks in academic excellence, student satisfaction and result orientation.


                    </p>
                    <div class="w3l_more">
                        <a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
                            <span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3ls_banner_bottom_right">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="agileits_w3layouts_banner_bottom_grid">
                                    <img src="images/1.jpg" alt=" " class="img-responsive" />
                                </div>
                            </li>
                            <li>
                                <div class="agileits_w3layouts_banner_bottom_grid">
                                    <img src="images/2.jpg" alt=" " class="img-responsive" />
                                </div>
                            </li>
                            <li>
                                <div class="agileits_w3layouts_banner_bottom_grid">
                                    <img src="images/3.jpg" alt=" " class="img-responsive" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    RejuvSense
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <img src="images/10.jpg" alt=" " class="img-responsive" />
                        <p> Rejuvsense Academy is an educational institution that facilitates learning environment for job seekers to attain their goals  especially in the areas of Banking Insurance,SSC ,UPSC through intensive training.We ensure integrity of teaching with eminent faculties and one of our major attraction is online platform,that offers students to develop their speed and accuracy for the actual online competition.We also provide study material,library........</i></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->

    <!-- register -->
    <div class="register">
        <!-- services1 -->
        <div class="courses">
            <div class="container">
                <div class="w3_agile_team_grid hidden">
                    <div class="w3_agile_team_grid_left">
                        <p>03</p>
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </div>
                    <div class="w3_agile_team_grid_right">
                        <h3>Our Featured <span>Services</span></h3>
                        <p>Aliquam sit amet sapien felis. Proin vel dolor sed risus maximus gravida.
                            Ut suscipit orci sem, eget lobortis sem dictum eu. Etiam congue ex sed volutpat fringilla.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="agileits_w3layouts_team_grids">
                    <div class="col-md-4 w3_agileits_services1_grid">
                        <div class="w3_agileits_services1_grid1">
                            <h3>Awesome Education</h3>
                            <p>Education is the passport to the future, for tomorrow belongs to those who prepare for it today..</p>
                            <div class="w3l_more wthree_more_service">
                                <a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
                                    <span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
                                </a>
                            </div>
                            <div class="w3_agileits_services1_grid1_pos">
                                <i class="fa fa-desktop" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 w3_agileits_services1_grid">
                        <div class="w3_agileits_services1_grid1">
                            <h3>Awesome classes</h3>
                            <p>Education is that whole system of human training within & without the school house walls, which molds & develops men.</p>
                            <div class="w3l_more wthree_more_service">
                                <a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
                                    <span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
                                </a>
                            </div>
                            <div class="w3_agileits_services1_grid1_pos">
                                <i class="fa fa-life-buoy" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 w3_agileits_services1_grid">
                        <div class="w3_agileits_services1_grid1">
                            <h3>Awesome Teaching</h3>
                            <p>Our asset is a core of highly qualified, dedicated, experienced and inspiring team of faculty for each subject.</p>
                            <div class="w3l_more wthree_more_service">
                                <a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
                                    <span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
                                </a>
                            </div>
                            <div class="w3_agileits_services1_grid1_pos">
                                <i class="fa fa-glass" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //services1 -->	</div>
    <!-- //register -->
    <!-- team -->
    <div class="team w3_women_team hidden" id="team">
        <div class="container">
            <div class="w3_agile_team_grid">
                <div class="w3_agile_team_grid_left">
                    <p>03</p>
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </div>
                <div class="w3_agile_team_grid_right">
                    <h3>meet our <span>edifying</span> team</h3>
                    <p>Aliquam sit amet sapien felis. Proin vel dolor sed risus maximus gravida.
                        Ut suscipit orci sem, eget lobortis sem dictum eu. Etiam congue ex sed volutpat fringilla.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="agileits_w3layouts_team_grids">
                <div class="col-md-4 agileits_w3layouts_team_grid">
                    <h3>Jane Smith</h3>
                    <p>Manager</p>
                    <ul class="agileinfo_social_icons w3_agileits_social_icons">
                        <li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agileits_pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>
                    <img src="images/5.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="col-md-4 agileits_w3layouts_team_grid">
                    <h3>Belinda Paul</h3>
                    <p>Creative Head</p>
                    <ul class="agileinfo_social_icons w3_agileits_social_icons">
                        <li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agileits_pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>
                    <img src="images/6.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="col-md-4 agileits_w3layouts_team_grid">
                    <h3>Laura Doe</h3>
                    <p>Head of the department</p>
                    <ul class="agileinfo_social_icons w3_agileits_social_icons">
                        <li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agileits_pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>
                    <img src="images/7.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- gallery-top -->
    <div class="gallery-top">
        <div class="agileinfo_gallery_top">
            <h3><span>Education</span> is the most powerful weapon which you can use to change
                the world</h3>
        </div>
    </div>
    <!-- //gallery-top -->
    <!-- gallery -->
    <!-- gallery -->
    <div class="gallery">
        <ul id="flexiselDemo1">
            <li>
                <div class="wthree_gallery_grid">
                    <a href="images/8.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view second-effect">
                            <img src="images/8.jpg" alt="" class="img-responsive" />
                            <div class="mask">
                                <p>RejuvSense</p>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="wthree_gallery_grid">
                    <a href="images/9.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view second-effect">
                            <img src="images/9.jpg" alt="" class="img-responsive" />
                            <div class="mask">
                                <p>RejuvSense</p>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="wthree_gallery_grid">
                    <a href="images/10.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view second-effect">
                            <img src="images/10.jpg" alt="" class="img-responsive" />
                            <div class="mask">
                                <p>RejuvSense</p>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="wthree_gallery_grid">
                    <a href="images/11.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view second-effect">
                            <img src="images/11.jpg" alt="" class="img-responsive" />
                            <div class="mask">
                                <p>RejuvSense</p>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="wthree_gallery_grid">
                    <a href="images/12.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="view second-effect">
                            <img src="images/12.jpg" alt="" class="img-responsive" />
                            <div class="mask">
                                <p>RejuvSense</p>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- //gallery -->
    <!-- //gallery -->
    <!-- testimonials -->
    <div class="testimonials ">
        <div class="container">
            <div class="w3_agile_team_grid">
                <div class="w3_agile_team_grid_left">
                    <p>02</p>
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </div>
                <div class="w3_agile_team_grid_right">
                    <h3>What Our <span>Students</span> Says</h3>
                    <p>When I decided to join  RejuvSense Academy , I think that was my best decision of life.
                        I got best team of experts with advanced shortcut technique which helped me to achieve my goals - Sharmila Rajan.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="w3ls_testimonials_grids">
                <section class="center slider">
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>BEST EVER COACHING CENTER... BEST CLASSES AND CLASS ROOM.. GOOD TEACHERS IN MATHS, MALAYALAM AND ENGLISH ..SPECIAL STUDY KITS ARE USEFUL....</p>
                            <h4>Sandeep V</h4>
                            <h5>Student</h5>
                            <div class="w3l_testimonial_grid_pos">
                                <img src="images/3.png" alt=" " class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>Rejus Academy is one of the most trustful institution among all the few years of its establishment.
                                It is one of the institution which changed the definition of coaching classes in our Kerala.

                            </p>
                            <h4>Dhanya G</h4>
                            <h5>Student</h5>
                            <div class="w3l_testimonial_grid_pos">
                                <img src="images/1.png" alt=" " class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>Classes by experienced faculties, daily class test and monthly exams, excellent study materials, special guidance for Maths and English, best rank files.... Overall a unique place where you can keep your faith in becoming a Government employee.
                                Success Guaranteed@RejuvSense Academy.......</p>
                            <h4>Vishnu R Nair</h4>
                            <h5>Student</h5>
                            <div class="w3l_testimonial_grid_pos">
                                <!--<img src="images/2.png" alt=" " class="img-responsive" />-->
                            </div>
                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>The main thing that I suggest RejuvSense Academy for you is the "versatility" in their PSC publications as well as the "paramountcy" in their coaching classes</p>
                            <h4>SREEJITH S.H</h4>
                            <h5>Student</h5>
                            <div class="w3l_testimonial_grid_pos">
                                <!--<img src="images/2.png" alt=" " class="img-responsive" />-->
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
    <!-- //testimonials -->
</div>
    <!-- carousal -->

    <!-- //carousal -->